<%= form_for(@week) do |f| %>
  <% if @week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:</h2>

      <ul>
      <% @week.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= Time.now %>
  </p>

  <!-- <div class="field" style="display: none;">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => current_user.id %>
  </div> -->
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :value => Time.now %>
  </div>
  <div class="field">
    <%= f.label :week_num %><br>
    <%= f.number_field :week_num, :value => Date.today.strftime("%U").to_i %>
  </div>
  <div class="field">
    <%= f.label :task %><br>
    <%= f.text_area :task, :size => "60x10" %>
  </div>
   <div class="field" type="checkbox">
    <%= f.label :completed %> <span>  </span>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
