<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @week.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @week.updated_at %>
</p>

<p>
  <strong>Week num:</strong>
  <%= @week.week_num %>
</p>

<p>
  <strong>Task:</strong>
  <%= @week.task %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
