<%= form_for(@day) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Time: <%= Time.now %></p>

<!--   <div class="field">
    <%= f.label :user_id, 'User ID' %><br>
    <%= f.text_field :user_id, :value => current_user.id %>
  </div> -->
  <div class="field">
    <%= f.label :date, "Day for Task" %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :task %><br>
    <%= f.text_area :task, :size => "60x10" %>
  </div>
  <div class="field" type="checkbox">
    <%= f.label :completed %> <span>  </span>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit "Create Task(s)" %>
    <%#= link_to 'Create Task(s)', summary_path, :onclick=>"$('.search_form').submit()"  %>
  </div>
<% end %>
