<h1>Tasks for Day(s)</h1>


<table class="table">
  <thead>
    <tr>
<!--       <th>User</th> -->
      <th>Date</th>
      <th>Task(s)</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @days.order("date desc").each do |day| %>
      <tr>
<!--         <td><%= day.user_id %></td> -->
        <td class="col-md-1"><%= day.date %></td>
        <td class="col-md-5"><%= day.task %></td>
        <td class="col-md-1"><%= check_box_tag :completed, "1", day.completed, disabled: true %></td>
        <td class="col-md-5"><%= link_to 'Show', day %> | 
        <%= link_to 'Edit', edit_day_path(day) %> | 
        <%= link_to 'Delete', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @days, :class => "pagination", :style=>'float:right; margin-right: 5%;' %>

<%= link_to 'Back'.html_safe, summary_path, {:style=>'float:left;'}  %>

<br>

<%= link_to 'New Day', new_day_path, :class => "btn btn-primary" %>
