
<p>
  <strong>User:</strong>
  <%= @day.user_id %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @day.updated_at %>
</p>

<p>
  <strong>Task:</strong>
  <%= @day.task %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', summary_path %>
