
<h1>Summary <small>(<%= Date.today %>)</small></h1>

<div class="col-md-6" style="padding-left: 0px; padding-right: 30px;">



<h5><u>Tasks by Day</u></h5> 
<%# if @days.length > 0  %>
<% if @days.empty? %>
      <br/>
      <p>Add a new daily tasks</p>
<% else %>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Task(s)</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @days.order("date desc").limit(7).each do |day| %>
      <tr>
        <td class="col-md-2"><%= day.date %></td>
        <td class="col-md-2"><%= simple_format(day.task) %></td>
        <td class="col-md-1"><%= check_box_tag :completed, "1", day.completed, disabled: true %></td>
        <td class="col-md-2"><%= link_to 'Show', day %> | 
        <%= link_to 'Edit', edit_day_path(day) %> | 
        <%= link_to 'Delete', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# end %>
<% end %>

<%= link_to 'New Task - Day', new_day_path, :class => "btn btn-primary", :style => "color: #FFF;" %> 
<%= link_to 'See more Tasks'.html_safe, days_path, {:style=>'float:right;'}  %>
</div>
 <br/>
<%# @weeks_old = Week.find_by_week_num(Date.today.strftime("%U").to_i) %>
<!-- # if week != nil, then display -->

<%# if @weeks != nil  %>


<div class="col-md-6" style="padding-left: 0px;">
<h5><u>Tasks this Week - Week <%= Date.today.strftime("%U").to_i %> (<%=  Date.commercial(2014, Date.today.strftime("%U").to_i) %>)</u></h5>

<%# if current_user.try(:superuser?) %>
<%# if @weeks.length > 0  %>
  <% if @weeks.empty? %>
        <br/>
        <p>Add a new weekly tasks</p>
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Week</th>
        <th>Task(s)</th>
        <th>Completed</th>
        <th>Actions</th>
     </tr>
    </thead>
      <tbody>

      <% @weeks.order("week_num desc").limit(1).each do |week| %>
        <tr>
          <td class="col-md-1"><%= week.week_num %></td>
          <td class="col-md-2"><%= simple_format(week.task) %></td>
          <td class="col-md-1"><%= check_box_tag :completed, "1", week.completed, disabled: true %></td>
          <td class="col-md-2"><%= link_to 'Show', week %> |
          <%= link_to 'Edit', edit_week_path(week) %> |
          <%= link_to 'Delete', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  <% end %>

<%# end %>
<%= link_to 'New Task - Week', new_week_path, :class => "btn btn-primary", :style => "color: #FFF;"  %>
<%= link_to 'See more Tasks'.html_safe, weeks_path, {:style=>'float:right;'}  %>
</div>

<!-- <div class="col-md-12"> 
  <div class="col-md-6" style="padding-left: 0px;"> 
    <%#= link_to 'New Task - Day', new_day_path, :class => "btn btn-primary" %> 
    <%#= link_to 'See more Tasks'.html_safe, days_path, {:style=>'float:right;'}  %>
  </div>
  <div class="col-md-6"> 
    <%#= link_to 'New Task - Week', new_week_path, :class => "btn btn-primary"  %>
    <%#= link_to 'See more Tasks'.html_safe, weeks_path, {:style=>'float:right;'}  %>
  </div>


</div> -->
