<%= form_for(@year) do |f| %>
  <% if @year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@year.errors.count, "error") %> prohibited this year from being saved:</h2>

      <ul>
      <% @year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div> -->
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :value => Time.now%>
  </div>
  <div class="field">
    <%= f.label :quarter_num, "Year" %><br>
    <%= f.number_field :quarter_num, :value => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :task %><br>
    <%= f.text_area :task, :size => "60x10" %>
  </div>
  <div class="field">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
